body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  display: block;
  width: 100px;
  background: #0084ff;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
}

input {
  color: #333;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.form-box {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.form-box input {
  margin-right: 20px;
}

.form-box button {
  margin-top: 0;
}
